<launch>
    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node> 

    <node name="cmd_vel_node" pkg="driver_pkg" type="driver.py" output="screen"/>
    <node name="odometry_pub_node" pkg="driver_pkg" type="odometry" output="screen"/>
    <include file="$(find viz_pkg)/launch/display.launch" />
</launch>