<launch>
    <arg name="model" />
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(find viz_pkg)/urdf/model.urdf" />
    <param name="use_gui" value="$(arg gui)" />
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->
    <node name="laser_tf_pub" pkg="viz_pkg" type="laser_tf" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find viz_pkg)/config/rviz.rviz" />
</launch>