<launch>
    <param name="robot_description" textfile="$(find patrol_description)/urdf/model.urdf" />
    <node name="laser_tf_pub" pkg="patrol_description" type="tf_laser2base_link.py" output="screen"/>
    <node name="odom_tf_pub" pkg="patrol_description" type="tf_odom2map.py" output="screen"/>
    <node name="tf_rs_base_link_node" pkg="patrol_description" type="tf_realsence2odom.py" output="screen"/>
</launch>